<!-- Use only for the 1st card -->

<div class="container">
  <h1>Question <%= @question_id %></h1>
  <% if @old_guess.last.user_answer == @old_card.answer %>
  	<p>That is correct</p>
  <% else %>
  	<p>That is wrong. The correct answer is: <%= @old_card.answer %></p>
  <% end %>

  <p><%= @new_card.question %></p>

  <form action="/rounds/<%= @round %>/decks/<%= @deck %>/questions/<%= @question_id.to_i %>" method="POST">
  Answer <input type="text" name="user_answer">
  <br/><br/>
  <input type="hidden" name="old_card_id" value="<%= @new_card.id %>">
  <input type="submit" value="Next">
  </form>

</div>
